header {
  background-color: #62605c;
  font-family: 'Anton', sans-serif;
  color: white;
  display: flex;
  justify-content: flex-end;
  height: 100px;
}

.top-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 0;
  width: 50%;
}

.container {
  background-color: #ffa500;
  display: flex;
  flex-direction: column;
  height: 800px;
}

h2 {
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  margin: 0;
}

.main-one {
  text-align: center;
  height: 266px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-two {
  height: 532px;
}

.dish-input {
  width: 40%;
  height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.choices {
  margin-top: 10px;
}

.search {
  margin-top: 10px;
  border-radius: 5px;
  height: 31px;
  width: 113px;
  background-color: white;
  border: none;
  font-family: 'Anton', sans-serif;
  font-size: 12px;
  color: #9f9d9d;
}

#food-choices {
  border-radius: 5px;
  height: 30px;
  width: 148px;
  font-family: 'Anton', sans-serif;
  font-size: 12px;
  color: #9f9d9d;
}

.top-links a {
  margin-top: 35px;
}

@media (max-width: 667px) {
  #food-choices {
    width: 90px;
    font-size: 9px;
  }

  .search {
    width: 90px;
    font-size: 9px;
  }

  .buttons {
    width: 60%;
  }

  .dish-input {
    width: 60%;
  }
}
